.bg-creamy{
    background-color: #dfe3a5;
}
.bg-lightg {
    background-color: rgb(77, 205, 77);
}
.t_transform{
    padding-top: 111px;
    
}
.banner{
    background: url(images/Slider\ img\ fruits.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}

.card:hover{
    background-color: black;
    color: white;
    transition:0.4s;
    overflow:hidden;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 12px 25px rgba(0,0,0,.2)!important;
}
footer a{
    transition:.3s;
}

footer a:hover{
    color:#28a745!important;
}
body{
            font-family:Arial, Helvetica, sans-serif;
            background:#f8f9fa;
}

.form-control{
    padding:12px;
    border-radius:8px;
}

.form-control:focus{
    border-color:#198754;
    box-shadow:0 0 8px rgba(25,135,84,.25);
}
